
/* @import "tailwindcss";  */

 :root {
  --background: #11a4cc;
  --foreground: #171717;
}  



.com {
  color: rgb(22, 137, 22);
}




.jobs {
  width: 100%;
  max-width: 900px;

  background: #fff;
  border: 2px solid #d6d6d6;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.08);
  padding: 30px;
  margin: 20px auto;
  align-items: baseline;
}




.com2 {
  color: green;

}
.hp0 {
  padding-left: 12px;
  padding-right: 13px;
 display:flex;
  justify-content: center;
   width:190px;
 justify-content: space-between;

 
}  


.sp10{
  color:blue;
  display:flex;
  gap:10px;


}
.sp1{
  display: flex;
  gap:5px;
}
.com1 {
  color: green;


}
.com2 {
  color: green;
}
.com10{
  color: green;
  display:flex;
  justify-content: center;
}
.con {
align-items: center;
justify-content: center;
}

.hp1{
padding-right: 13px;
display:flex;
  justify-content: center;
  gap: 1px;
  color:blue;
  background-color: aqua;
  padding-left: 20px;
  width:70px; 
  height:30px;
}
